.container {
    /*background-image: url("https://campus.asu.edu/sites/default/files/styles/asu_spotlight_image/public/general/campus-downtown_0.jpg?itok=Q74uMy2b");*/
    height: 100%;

}

.editModal {
    position: absolute;
    z-index: 1;
    left: 368px;
    top: 131px;
    height: 370px;
    width: 610px;
    background-color: black;
}

#modal {
    display: none;
}
