.container {
    /*background-image: url("https://campus.asu.edu/sites/default/files/styles/asu_spotlight_image/public/general/campus-downtown_0.jpg?itok=Q74uMy2b");*/
    height: 100%;

}

.editModal {
    position: absolute;
    z-index: 1;
    left: 368px;
    top: 133px;
    height: 220px;
    width: 602px
}

#modal {
    display: block;
}
